             header {
            background-color: rgba(180, 255, 253, 0.8); 
            padding: 10px 0.1px; 
            text-align: center; 
            width: 100%; 
            z-index: 1000; 
            display: flex; 
            justify-content: space-between; 
            align-items: center;
        }
        

        .logo {
            color: #333; 
            font-weight: bold; 
            text-align: left; 
            flex-grow: 1; 
            margin-right: 10px; 
            margin-left: 5px;
        }

        header img {
            max-height: 40px; 
            max-width: 100%; 
            vertical-align: middle; 
            margin-left: 5px;
        }

        nav {
            margin-right: 20px; 
        }

        nav a {
            color: #333; 
            text-decoration: none; 
            margin: 0 10px; 
            display: inline-block; 
        }

        .seccion {
            width: 100%;
            box-sizing: border-box;
            padding: 0;
            position: relative;
            margin: 0;
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            text-align: center;
            color: #333;
        }
        
        .seccionredes {
            width: 100%;
            box-sizing: border-box;
            padding: 0;
            position: relative;
            margin: 0;
            background-size: cover;
            background-position: center;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            text-align: center;
            color: #333;
        }

        .seccion h2 {
            font-size: 3em;
            font-family: Arial, sans-serif; 
            margin-bottom: 20px; 
            position: relative;
            width: 100%;
            text-align: center; 
        }

        .seccion h2::after {
            content: ''; 
            position: absolute; 
            left: 0; 
            bottom: -5px; 
            width: 100%; 
            height: 2px; 
            background-color: hsl(0, 0%, 0%); 
        }

        #seccion2, #seccion4, #seccion6 {
            background-image: linear-gradient(to bottom, #b4fffd 75%, #ffffff);
            position: relative; 
            z-index: 1; 
            backdrop-filter: blur(30px); 
            padding: 15px; 
            color: #1f1c1c; 
            text-align: center; 
            display: flex; 
            justify-content: space-between; 
        }

        #seccion1, #seccion3, #seccion5, #seccion7 {
            background-image: linear-gradient(to bottom, #ffffff 75%, #b4fffd);
            position: relative; 
            z-index: 1; 
            backdrop-filter: blur(30px); 
            padding: 15px; 
            color: #1f1c1c; 
            text-align: center; 
            display: flex; 
            justify-content: space-between; 
        }

        .sede {
            width: 33%; 
            max-width: 200px; 
            opacity: 0.7; 
            transition: opacity 0.3s ease; 
        }

        .sede:hover {
            opacity: 1; /
        }
      
        #seccion1-texto {
            position: absolute;
            top:30%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(0, 0, 0);
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        #seccion1-texto h1, #seccion1-texto p {
            margin: 0; 
        }
        
        #seccion1-texto .main-text {
            font-size: 100px;
            font-weight: bold;
        }
        
        #seccion1-texto .sub-text {
            font-size: 60px;
        }

        .seccion img {
            max-width: 100%; 
            max-height: 40px; 
            margin-bottom: 10px; 
            width: auto; 
            height: auto; 
            object-fit: cover;
        }
        
        #seccion7 {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        .centered-content {
            display: flex;
            align-items: center;
            margin-top: 5px; 
        }
        
        .centered-content img {
            max-height: 40px; 
            max-width: 100%; 
            vertical-align: middle; 
            margin-right: 10px; 
        }
        
        .centered-content p {
            margin-left: 5px; 
        }
        
        .seccion .sede {
            max-width: 100%; 
            max-height: 40px; 
            margin-bottom: 10px; 
            width: auto; 
            height: auto; 
            object-fit: cover;
            transition: opacity 0.3s ease; 
        }

        .seccion .sede:hover {
            opacity: 0.7; 
        }

        .seccion .sede-container {
            position: relative; 
        }

        .seccion .image-caption {
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%);
            color: white;
            font-size: 16px;
            opacity: 0; 
            transition: opacity 0.3s ease; 
            pointer-events: none; 
        }

        .seccion .sede-container:hover .image-caption {
            opacity: 1; 
        }


        .imagen {
            flex: 1;
            margin: 5px;
            position: relative;
            transition: opacity 0.8s ease;
            max-width: 100%; 
            height: auto;        
        }
        
        .imagen img {
            width: 500px; 
            height: 350px; 
            max-width: 100%; 
            max-height: 100%; 
        }
        
        .imagenes-container {
            display: flex;
            align-items: center; 
            justify-content: center; 
        }

        .imagen:hover {
            opacity: 0.5; 
        }

        .imagenes {
            width: 25%;
            float: right;
            height: 100vh; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .imagenes img {
            width: 100%;
            height: auto; 
            margin-bottom: 20px; 
        }
        
        .texto-detras {
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            color: rgb(0, 0, 0); 
            font-size: 30px; 
            opacity: 0; 
            pointer-events: none; 
        }

        .imagen:hover .texto-detras {
            opacity: 1; 
        }    
        
        #seccion6 {
            text-align: center; 
        }
        
        #seccion6 p {
            font-size: 40px;
        }
        
        #seccion6 button {
            background-color: #41fcc4; 
            color: white;
            padding: 15px 30px; 
            font-size: 20px;
            border: none; 
            border-radius: 10px; 
            cursor: pointer;
            margin-top: 15px; 
            display: inline-block; 
        }
        
        .botones-container {
            text-align: center; 
        }
        
        .botones-container button {
            background-color: #52ffee; 
            color: white;
            padding: 15px 30px; 
            font-size: 20px;
            border: none; 
            border-radius: 5px; 
            cursor: pointer;
            margin: 250px; 
            display: inline-block; 
        }
        
